---
---

.coming-soon {
  margin-left: 50px;
  margin-right: 50px;
  background: #e0e0e0;  
  
  .message {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    max-width: 743px;
    min-height: 800px;
  }
  
  .discussion {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 800px;
  }
}