---
---

.home {
  
  margin-left: 50px;
  margin-right: 50px;
  background: #e0e0e0;

  .about {
    margin-top: 25px;
  }

  .top-row {
    margin-left: 20px;
    margin-right: 40px;
  }

  .header {
    padding: 0px;
    border: 1px solid gray;
    margin-top: 25px;
    background-image: url("/images/header-graphic.png");
    background-repeat: no-repeat;
    max-width: 743px;
    height: 340px;
  }

  .overlay {
    padding: 1px 10px 5px 10px;
    margin-top: 170px;
    color: white;
    background-color:rgba(66, 58, 51, 0.8)
  }

  .overlay h2, .overlay p {
    font-size: 10pt;
    color: white;
  }

  .post {
    margin: 40px 20px 40px 20px;
  }

  .gallery {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .logos {
    
    padding-bottom: 20px;

    .logo {
      display: inline;
    }
    
    .purdue {
      margin-right: 50px;
    }
    
    
  }

  
}

