---
layout: default
---

<div class="navsa-bar">
  <img class="navsa-logo" src="/images/NAVSAlogo.png"/>
  <div class="black-ribbon"></div>
</div>
<div class="masthead">
  <a href="/"><img class="logo" src="/images/logo.png"/></a>
</div>
<div class="nav-bar">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">HOME</a></li>
    <li role="presentation"><a href="/editions">EDITIONS</a></li>
    <li role="presentation"><a href="/pedagogy">PEDAGOGY</a></li>
    <li role="presentation"><a href="/audio">AUDIO</a></li>
    <li role="presentation"><a href="/gallery">GALLERY</a></li>
    <li role="presentation"><a href="/discussion">DISCUSSION</a></li>
  </ul>
</div>
<div class="content-backdrop">
  {{ content }}
</div>
