---
layout: default
---

<div class="navsa-bar">
  <img class="navsa-logo" src="/images/NAVSAlogo.png"/>
  <div class="black-ribbon"></div>
</div>
<div class="masthead">
  <a href="/"><img class="logo" src="/images/logo.png"/></a>
</div>
<div class="nav-bar">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#">HOME</a></li>
    <li role="presentation"><a href="#">EDITIONS</a></li>
    <li role="presentation"><a href="#">PEDAGOGY</a></li>
    <li role="presentation"><a href="#">AUDIO</a></li>
    <li role="presentation"><a href="#">GALLERY</a></li>
    <li role="presentation"><a href="#">DISCUSSION</a></li>
  </ul>
</div>
<div class="content-backdrop">
  <div class="content">
    <div class="pattern-line"></div>
    {{ content }}
  </div> 
</div>
